{% load static %}

<!--Nuevo Admin Script -->

 <!-- REQUIRED SCRIPTS -->

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'core/plugins/fontawesome-free/css/all.min.css'%}">
<link rel="stylesheet" href="{% static 'core/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css'%}">
<link rel="stylesheet" href="{% static 'core/plugins/icheck-bootstrap/icheck-bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'core/plugins/jqvmap/jqvmap.min.css'%}">
<link rel="stylesheet" href="{% static 'core/dist/css/adminlte.min.css'%}">
<link rel="stylesheet" href="{% static 'core/plugins/overlayScrollbars/css/OverlayScrollbars.min.css'%}">
<link rel="stylesheet" href="{% static 'core/plugins/daterangepicker/daterangepicker.css'%}">
<link rel="stylesheet" href="{% static 'core/plugins/summernote/summernote-bs4.min.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  
<!-- jQuery -->
<script src="{% static 'core/plugins/jquery/jquery.min.js'%}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'core/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static 'core/dist/js/adminlte.min.js'%}"></script>
<script src="{% static 'core/dist/js/messages.js'%}"></script>
<!--SweetAlert2-->
<script src="{% static 'core/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'core/plugins/sweetalert2/sweetalert2.min.css' %}"></script>
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css">
<!--jQuery-->
<script src="{% static 'core/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'core/plugins/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
<script src="{% static 'core/plugins/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}"></script>
<script src="{% static 'core/plugins/chart.js/Chart.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!--Select2-->
<link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}">
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
<script src="{% static 'admin/js/vendor/select2/i18n/es.js' %}"></script>
<script src="{% static 'core/plugins/select2/js/i18n/es.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script src="{% static 'admin/js/autocomplete.js' %}"></script>
<script src="{% static 'core/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'core/dist/js/demo.js' %}"></script>
<script src="{% static 'core/dist/js/pages/dashboard.js' %}"></script>