{% extends 'layout/base.html' %}
{% load static %}
{% block delete %}
{% include 'layout/scripts.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div class="mt-5 text-center">
          <form action="" method="post">{% csrf_token %}
            <h4><p>¿Estás seguro de que quieres borrar <b>"{{ object }}"</b>?</p></h4>
            <input type="submit" class="btn btn-danger btn-block" value="Sí, borrar producto" />
          </form>
          <a class="btn btn-primary btn-block" href="{% url 'accesorios:accesorios-list' %}">Volver</i></a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}